@use '../../styles/vars';

.legal-wrapper {
  background: url('../../assets/team/double-bubble.png');
  height: 100vh;
  min-height: 400px;
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
}

.legal-header {
  &__logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: .5rem;

    a:nth-child(1) {
      max-width: 120px;
    }

    a:nth-child(2) {
      width: 200px;
      text-align: center;
      padding: .8rem 0;
      border-radius: 30px;
      border: 4px solid vars.$color_main;
      font-size: 1.2rem;
      transition: all .2s ease;
      animation: shake 5s infinite;

      &:hover {
        @extend %linear-gradient;
        padding: calc(.8rem + 2px) 2px;
        color: vars.$color__white;
        border: none;
        transition: all .2s ease;
      }
    }

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

.legal {
  width: 90%;
  flex: 1;
  position: relative;
  // padding: 1rem;
  margin: 1rem auto;
  @extend %linear-gradient;
  border-radius: 10px;
  &__container {
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.3rem;
    color: vars.$color_grey_writing;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
        display: none;
      }
  

    &__title {
      font-family: 'Indie Flower', cursive;
      @extend %title-background;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 1rem 0;
      
    }
  }
}