@use '../../styles/vars';

@mixin lg-screen {
  @media screen and (min-width:900px) {
      @content
  }
};

.profile-page {
  margin-bottom: 4 * vars.$gutter;
  position: relative;
  background: url('../../assets/team/double-bubble.png');

  .edit-btn {
    width: 90px;
    cursor: pointer;
    border: 1px solid vars.$color_grey_writing;
    color: vars.$color_grey_writing;
    border-radius: 5px;
    padding: .5rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 1.1rem;
    }
  }

  &__header {
    width: 60%;
    max-width: 300px;
    margin:  0 auto 1rem;
    text-align: center;
    border-radius: 30px;
    padding: .5 * vars.$gutter;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
    }

    &__user {
      display: flex;
      flex-direction: column;
      margin-top: 0.5*vars.$gutter;
      font-size: 1.4*vars.$gutter;

      &__avatar-name {
        margin-bottom: 0.3*vars.$gutter;
        font-size: 1.8rem;
      }

      &__zipcode {
        font-size: vars.$gutter;
      }
    }

    &__avatar {
      width: 200px;
      margin: auto;
      
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  &__info-dogs {
    padding: 0 1 * vars.$gutter;
    margin: 1 * vars.$gutter 0;

    article {
      background: white;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
      border-radius: 10px;
      padding: vars.$gutter;
      margin: vars.$gutter 0;

      @include lg-screen {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;
      }
    }
  }
  
  &__dog {
    display: flex;
    flex-direction: column;
    gap: .7 * vars.$gutter;
    font-size: 1.1rem;
    
        @include lg-screen {
          min-width: 400px;
          width: 400px;
        }
    
      &__first {
        display: flex;
        justify-content: space-between;

        &__surname-gender {
          display: flex;
          justify-content: space-between;
          width: 70%;

          & span {
            font-size: 1.4rem;
          }
        }
      }

      &__second {
        display: flex;
        flex-direction: column;
        gap: .7 * vars.$gutter;

        &span {
          width: 100%;
        }
      }

      select {
        width: 100%;
      }

      span, input {
        display: flex;
        align-items: center;
        gap: .5 * vars.$gutter;
        
        img {
          width: 20px;
        }
      }
  }

  &__buttons {
    width: 100%;
    & .edit-btn {
      margin: auto;
    }
  }

  &__dog-pictures {
    @include lg-screen {
      overflow-x: scroll;
      flex: 1;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__container {
      width: auto;
      padding: .5 * vars.$gutter;
      margin: 1 * vars.$gutter auto;
      border-radius: 5px;
      display: flex;
      gap: .5 * vars.$gutter;
      overflow: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      &-item {
        width: 100px;
        min-width: 100px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: relative;
  
        img {
          margin-bottom: .2rem;
          width: 100%;
          border-radius: 3px;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
        }

        button {
          position: absolute;
          padding: 0;
          top: 0;
          right: 0;
          transform: translate(25%, -25%);
          background: red;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          cursor: pointer;

          &:hover {
            transform:  translate(25%, -25%) scale(1.2);
          }
        }
      }
    }
  }

  &__modal {
    position: fixed;
    background: rgba(200, 200, 200, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in .3s ease-in forwards;
    
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      padding: 2 * vars.$gutter;
      box-shadow: 0 0 5px black inset;
      border-radius: 20px;
    }

    &__close {
        width: 50px;
        height: 50px;
        align-self: flex-end;
        cursor: pointer;
    }

    &__btn {
      display: flex;
      justify-content: center;
      gap: 1 * vars.$gutter;
      margin: 1 * vars.$gutter 0;

      &-confirm {
        background: lime !important;
      }

      button {
        @extend %btn;
      }
    }
  }

  &__btn-dogform {
    display: flex;
    align-items: center;
    gap: .5 * vars.$gutter;
    margin: auto;
    @extend %btn;

    span {
      transition: all .3s ease-in-out;
    }

    .open {
      transform: rotate(90deg);
    }
    
    .close {
      transform: rotate(-90deg);
    }
  }
  
  &__dogform {
    &-open {
      overflow: hidden;
      animation: appear .5s forwards;
    }

    &-close {
      overflow: hidden;
      max-height: 0px;
    }
  }
}

@keyframes fade-in {
  from {
    transform: translate(0, -100%);
  } to {
    transform: translate(0);
  }
}

@keyframes appear {
  from {
    max-height: 0px;
  }
  99% {
    max-height: 650px;
  }
  to {
    max-height: none;
  }
}
