@use '../../styles/vars';

@mixin lg-screen {
  @media screen and (min-width:900px) {
      @content
  }
};

.profile-page {
  margin-bottom: 4 * vars.$gutter;

  &__header {
    width: 60%;
    min-width: 220px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 10px  vars.$color-border-input ;
    border-radius: 30px;
    padding: .5 * vars.$gutter;

    &__annoucement {
      font-size: 1.5rem;
    }

    &__avatar {
      width: 200px;
      margin: auto;
      
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    &__avatar-name {
      font-size: 1.3rem;
    }
  }

  &__info-user, &__info-dogs {
    padding: 0 1 * vars.$gutter;
    margin: 1 * vars.$gutter 0;
  }

  &__info-user {

    &__content {
      display: flex;
      flex-direction: column;
      gap: .3rem;
      width: 60%;
      padding: 1 * vars.$gutter;
      margin: 1 * vars.$gutter auto;
      box-shadow: 0 0 5px vars.$color-border-input;
      border-radius: 5px;

      &-field {
        display: flex;
        gap: .5rem;
      
        input {
          width: 50%;
        }
      }
    }

    &__submit {
      text-align: center;

      button {
        @extend %btn;
      }
    }
  }

  &__info-dogs {

    form {
      box-shadow: 0 0 3px black;
      padding: vars.$gutter;
      margin: vars.$gutter 0;

      @include lg-screen {
        display: flex;
      }
    }
  }

  &__dog {
    @include lg-screen {
      min-width: 400px;
      width: 400px;
    }

    &__details {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      padding: .5 * vars.$gutter;
      margin: 1 * vars.$gutter auto;
      box-shadow: 0 0 3px black;
      border-radius: 5px;


      span {
        width: 50%;
        display: flex;
        align-items: center;
        gap: .5 * vars.$gutter;
        
        img {
          width: 20px;
        }
      }
      &-description {
        flex: 1;
      }
    }
  }

  &__dog-pictures {
    @include lg-screen {
      max-width: calc(100% - 400px);
    }

    &__container {
      padding: .5 * vars.$gutter;
      margin: 1 * vars.$gutter auto;
      box-shadow: 0 0 3px black;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      gap: .5 * vars.$gutter;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
      

      &-item {
        width: 100px;
        min-width: 100px;
        -ms-overflow-style: none;
        scrollbar-width: none;
  
        img {
          width: 100%;
        }
      }
    }

  }
}