// logo is position absolute if on mobile, but not when on desktop  

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .3rem 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;

    &__logo {
        position: fixed;
        top: 1rem;
        left: 4rem;
        z-index: 999;
    }
}

