@use '../../styles/vars';

@mixin lg-screen {
    @media screen and (min-width: 900px) {
        @content
    }
}

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    @extend %linear-gradient;

    @include lg-screen {
        position: static;
        padding: 0;
    }

    &__logo {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 999;
        display: none;

        @include lg-screen {
            position: static;
            display: initial;
        }

        &__container {
            width: 60px;

            @include lg-screen {
                width: 60px;
            }
            
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }

    &__title {
        display: none;
        
        @include lg-screen {
            font-size: 2rem;
            display: initial;
        }
    }
}