@use '../../../styles/vars';

@mixin lg-screen {
  @media screen and (min-width:900px) {
      @content
  }
};

.dog {
  background-color: white;
  padding: .5rem 2rem;
  border-radius: 10px;
  max-width: 550px;
  margin: auto;

  @include lg-screen {
  }

  &__behavior {
    width: 49%;
    font-size: 0.9* vars.$gutter;
    border: 0.1 *vars.$gutter solid vars.$color_border-input;
    border-radius: 3px;
    padding: 0.3*vars.$gutter;
    text-align: center;
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &__input-infos {
  
      &__first {
        margin: vars.$gutter 0;
        display: flex;
        width: 100%;
        justify-content: space-between;

        &__race, &__weight {
          width: 49%;
        }

        & select, & input {
          height: 2* vars.$gutter;
          width: 100%;
        }

        & select {
          color: vars.$color-border-bottom-header;
        }
      }
  
      &__others{
        display: flex;
        flex-direction: column;
        gap: .5rem;
  
        &__sexe, &__birthday, &__sterilized, &__character__label-flex {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: vars.$gutter;
          align-items: center;
        }

        &__sexe {
          
          p {
            width: 30%;
          }

          &__label {
            width: 70%;
            display: flex;
            justify-content: space-between;

            & label {
              width: 49%;
              font-size: 0.9* vars.$gutter;
              border: 0.1 *vars.$gutter solid vars.$color_border-input;
              border-radius: 3px;
              padding: 0.3*vars.$gutter;
              text-align: center;
            }
          }
        }

        &__character {
          width: 100%;
          justify-content: space-between;
          display: flex;
          flex-wrap: wrap;

          &__p {
            width: 30%;
          }

          &__label-flex {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: .1rem;
          }

          .dog__behavior {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: .3rem;
          }
        }

        &__sterilized {

          &__label {
            font-size: 0.9* vars.$gutter;
            border: 0.1 *vars.$gutter solid vars.$color_border-input;
            border-radius: 3px;
            padding: 0.3*vars.$gutter;
            width: 35%;
            text-align: center;
          }
        }

        &__birthday {
          & input {
            border-radius: 2px;
            flex: 1;
          }
        }

        &__sterilized {

          &__parent-label {
            width: 70%;
            justify-content: space-between;
            display: flex;
          }

          &__label {
            width: 49%;
          }

          & p {
            width: 30%;
          }
        }
  
        &__surname{

          label {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              width: 30%;
            }
            & input {
              flex: 1;
              border: none;
              border-bottom: 0.2*vars.$gutter solid vars.$color_border-input;
            }
          }
  
        }

        &__add-dog {
          & img {
            width: 9%;
          }
        }

        &__description {
          textarea {
            width: 100%;
          }
        }

        &__picture {
          margin: 1rem 0;
          label {
            @extend %input;
            cursor: pointer;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: .3rem;
          }
        }
      }
    }
  }

  // all inputs
  &__commun {
    font-size: 0.9* vars.$gutter;
    border: 0.1 *vars.$gutter solid vars.$color_border-input;
    border-radius: 3px;
    padding: 0.3*vars.$gutter;
    width: 35%;
    text-align: center;
  }

  // texts before input
  &__title {
    width: 30%;
  }

  // remove the arrows of input type number
  input[type="number"] {
    /* Firefox */
    -moz-appearance: textfield;
  
    /* Chrome */
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin:0;
    }
  
    /* Opéra*/
    &::-o-inner-spin-button {
      -o-appearance: none;
      margin: 0; 
    }
  }

  input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
    border: none;
  }
  
  input[type="file"] {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .field-selected {
    border: .1rem solid transparent;
    box-shadow: 0 0 4px vars.$color_main ;
  }
}
