@use '../../styles/vars';

@mixin lg-screen {
  @media screen and (min-width:900px) {
      @content
  }
};

.error-404 {
  min-height: 100vh;
  background: url('../../assets/team/double-bubble.png');

  &__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 .5rem;

    a:nth-child(1) {
      max-width: 120px;
    }

    a:nth-child(2) {
      width: 200px;
      text-align: center;
      padding: .8rem 0;
      border-radius: 30px;
      border: 4px solid vars.$color_main;
      font-size: 1.2rem;
      transition: all .2s ease;
      animation: shake 5s infinite;

      &:hover {
        @extend %linear-gradient;
        padding: calc(.8rem + 2px) 2px;
        color: vars.$color__white;
        border: none;
        transition: all .2s ease;
      }
    }

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &__main {
    background: top / 100% no-repeat url('../../assets/error404/lonely-dog-mobile.jpg');

    @include lg-screen {
      background: top / 100% no-repeat url('../../assets/error404/lonely-dog.jpg');
      height: 500px;
      max-width: 1050px;
      margin: 0 auto;
      border-radius: 17px;
    }
    color: vars.$color__white;
    display: flex;
    flex-direction: column;

    p, h1, h2 {
      text-shadow: 1px 1px 4px black;
    }

    p {
      font-size: 1.5rem;
    }

    &__text {
      padding: 4rem 0 2rem;
      text-align: center;

      h1 {
        font-size: 7rem;
        font-weight: bold;
      }

      h2 {
        font-size: 3rem;
      }
    }
  }

  &__footer {
    margin-top: 3 * vars.$gutter;
    display: flex;
    justify-content: center;
    gap: vars.$gutter;
    flex-wrap: wrap;

    @include lg-screen {
      max-width: 1050px;
      margin: 0 auto;
    }

    &__announcement {
      width: 100%;
      padding: 0 vars.$gutter;
      text-align: center;
      margin-bottom: vars.$gutter;
      line-height: 1.3;

      @include lg-screen {
        font-size: 1.3rem;
      }
    }

    &__thumbnail {
      width: 20%;
      min-width: 150px;

      img {
        width: 100%;
      }
    }
  }
}