@mixin lg-screen {
    @media screen and (min-width:900px) {
        @content
    }
};

.create-ride {
    display: flex;
    flex-direction: column;

    @include lg-screen {
        flex-direction: row;
    }

    .inactive {
        display: none;
    }
}