@use '../../../styles/vars';

@mixin lg-screen {
    @media screen and (min-width: 900px) {
        @content
    }
}

.navbar-connected {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    padding: .5 *vars.$gutter 0;
    margin: auto;

    @include lg-screen {
        margin: 0;
        font-size: 1.1rem;
    }

    &__link {
        &--active {
            font-weight: bold;
        }
    }

    &__img {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 25px;
            @include lg-screen {
                display: none;
            }
        }
    }
}