@use '../../../styles/vars';

@mixin lg-screen {
    @media screen and (min-width:900px) {
        @content
    }
};

.leaflet-container {
    height: 100vh;
    width: 100%;
    @include lg-screen {
        height: calc(100vh - 61.6px);
    }
}

.leaflet-popup-pane {
    margin: 0;
}

.leaflet-popup-content {
    border-radius: 5px;
}