@use '../../../../styles/vars';

@mixin lg-screen {
    @media screen and (min-width: 900px) {
        @content
    }
}

.profile {
    border-radius: 12px;
    
    &__section {
        @extend %linear-gradient;
        display: flex;
        flex-direction: column;
        padding: 0 .5rem .5rem;
        max-height: 140px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
          }
    }

    &__user{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5 * vars.$gutter;

        &__img-container {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        &__name{
            justify-self: end;
        }
    }

    &__article {
        display: flex;
        // align-items: stretch;
        gap: .5 * vars.$gutter;
        background: rgba(255, 255, 255, .5);
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        padding: .5 * vars.$gutter;
        margin: .5 * vars.$gutter;
        border-radius: 8px;
        transition: all .3s ease-in-out;
        color: vars.$color_grey_writing;

        
        &:hover {
            box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .4);
            transform: translate(0, -3px);
            transition: all .3s ease-in-out;
        }

        &__avatar {
            width: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &-image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }

        &__dogs {
            display: flex;
            align-items: stretch;
            gap: 5px;

            &-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            
            &-image {
                width: 45px;
                height: 45px;
                
                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }

            &-surname {
                width: 50px;
                overflow: hidden;
                text-align: left;
            }

            &-more-dogs {
                align-self: center;
            }
        }
    }

    &__learn-more {
        text-align: center;

        button {
            @extend %btn;
            background: white;
            color: vars.$color_main;
            margin: .5rem 0;
            transition: all .3s ease-in-out;

            &:hover {
                box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
                transform: translate(0, -1px);
                transition: all .3s ease-in-out;
            }
        }
    }
}