@use '../../styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@mixin lg-screen {
    @media screen and (min-width:900px) {
        @content
    }
};

@mixin xl-screen {
    @media screen and (min-width:1200px) {
        @content
    }
};

%title-background {
    @extend %linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.connection-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-connection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1 * vars.$gutter;
    border-bottom: 1px solid vars.$color_main;
    @extend %linear-gradient;

    @include lg-screen {
        padding: 0 vars.$gutter;
    }

    &__logo img {
        width: 60px;
        border-radius: 50%;

        @include lg-screen {
            width: 100px;
        }
    }

    &__title {
        display: none;
        
        @include lg-screen {
            font-size: 3rem;
            display: block;
            color: white;
            font-family: 'Indie Flower', cursive;
        }
    }

    &__cta {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: .5 * vars.$gutter;

        @include lg-screen {
            flex-direction: row;
            gap: 1.5 * vars.$gutter;
        }

        &__signin, &__signup {
            @extend %btn;
            border-radius: 10px;
            background: white;
            color: vars.$color_main;
            padding: .5 * vars.$gutter;
            transition: all .2s ease;

            @include lg-screen {
                font-size: 1.45rem;
            }

            &:hover {
                box-shadow: 0 0 6px black;
                transition: all .2s ease;
            }
        }
    }
}

.connection {
    h2 {
        @extend %title-background;
        font-size: 1.3rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1.3;

        @include lg-screen {
            width: 100%;
            font-size: 1.8rem;
        }
    }

    p {
        line-height: 1.3;
        padding: 1 * vars.$gutter 2 * vars.$gutter;
    }


    &__info {
        & article {
            @include lg-screen {
                display: flex;
                align-items: center;;
            }

            &:nth-child(2) {
                @include lg-screen {
                    display: block;
                    margin: 4 * vars.$gutter 0;
                    flex-direction: row-reverse;
                }
            }
        }

        &__title {
            flex: 1;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2 * vars.$gutter;
            gap: 1 * vars.$gutter;

            @include lg-screen {
                margin: 0;
            }

            &.flex-row-reverse {
                color: red;
                @include lg-screen {
                    flex-direction: row-reverse;
                }
            }
            
            h1 {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                width: 100%;
                z-index: 1;
                transform: translate(-50%, 0);
                text-align: center;
                font-size: 1.6rem;
                color: vars.$color__white;
                text-shadow: 0 0 5px black;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                strong {
                    padding-top: .3rem;
                    font-family: 'Indie Flower', cursive;
                    font-size: 1.5em;
                    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,.05) 100%);

                    @include lg-screen {
                        font-size: 3.2rem;
                    }
                }

                span {
                    background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,.05) 100%);
                    padding: .3 * vars.$gutter 1 * vars.$gutter;
                    font-size: 1.2rem;
                }
            }

            div {

                img {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        &__text-title {
            text-align: center;
            font-size: 1.2rem;
        }
        
        &__text {
            margin: 2 * vars.$gutter auto;
            padding: vars.$gutter 2 * vars.$gutter;
            text-align: center;
            
            @include lg-screen {
                width: 50%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 2 * vars.$gutter;
            }
            
            p, div {
                display: flex;
                flex-direction: column;
                color: vars.$color_grey_writing;
                line-height: 1.3;
            }

            p span {
                @include lg-screen {
                    font-size: 1.6rem;
                    line-height: 1.5;
                    font-weight: 300;
                    text-align: left;
                }

                @include xl-screen{
                    font-size: 2rem;
                }
            }

            &-center {
                @include lg-screen {
                    width: 100%;
                    margin: 0 auto 2rem;
                }

                ol {
                    align-self: center;

                    @include lg-screen {
                        text-align: left;
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        img {
                            width: 27px;
                        }
                    }

                    li {
                        text-align: center;
                        margin: .5rem 0;

                        @include lg-screen {
                            font-size: 1.35rem;
                            font-weight: 300;
                            color: black;
                        }
                    }
                }
            }
        }

        &__map {
            margin-bottom: 1 * vars.$gutter 0;

            div {
                width: 100%;
                img {
                    width: 100%;
                }
            }

            p {
                margin-top: 2rem;
                text-align: center;
                color :vars.$color_grey_writing;

                &:last-child {
                    margin-top: 3 * vars.$gutter;
                }
            }
            
            &-row-reverse {
                @include lg-screen {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    margin-top: 2rem;
                }

                div {
                    @include lg-screen {
                        width: 50%;
                    }

                    img {
                        // before changing image 
                        max-height: 400px;
                    }
                }

                p {
                    @include lg-screen {
                        width: 50%;
                        padding: 0 8vw;
                        font-size: 1.35rem;
                        font-weight: 300;
                        text-align: left;
                        color: black;
                    }
                }
            }
        }
    }

    &__modal {
        background-color: rgba(255, 255, 255, 1);
        // background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
        background: linear-gradient(315deg, rgba(252, 87, 94, 0.7), rgb(247, 180, 44, 0.9) 74%);
        // opacity: 0.8;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 80%;
        max-width: 290px;
        transform: translate(-50%, -50%);
        // padding: 3 * vars.$gutter 3 * vars.$gutter;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        z-index: 9999;
        font-size: 1.3rem;

        &__close {
            // width: 5px;
            // height: 5px;
            align-self: flex-end;
            cursor: pointer;
            padding: 0.4*vars.$gutter 0.7* vars.$gutter;
            color: white;
            

            img {
                width: 100%;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: vars.$gutter;

        @include lg-screen {
            width: 50%;
        }

        &__field {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            margin-bottom: 1rem;

            label {
                cursor: initial;
                // font-weight: normal;
                font-size: 1.1*vars.$gutter;
                color: white;
            }

            input {
                border-radius: 5px;
                width: 100%;
                border: none;
                padding: .5 * vars.$gutter .5 * vars.$gutter;
                font-size: 1.1*vars.$gutter;
            }
        }

        &__submit {
            @extend %btn;
            font-size: vars.$gutter;
            border-radius: 10px;
            background: white;
            color: vars.$color_main;
            padding: .5 * vars.$gutter;
        }

        &__failed {
            color: red;
            font-size: .8rem;
            margin-bottom: 1 * vars.$gutter;
        }
    }

    &__footer{
        width: calc(100% - 2rem);
        margin: auto;
        display: flex;
        justify-content: center;
        padding: .5rem 0;
        border-top: 1px solid rgb(200, 200, 200);
    }
}
