@use '../../styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@mixin lg-screen {
    @media screen and (min-width:700px) {
        @content
    }
}

.connection-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-connection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1 * vars.$gutter;
    border-bottom: 1px solid vars.$color_main;
    background: vars.$color_main;

    &__logo img {
        width: 60px;
        border-radius: 50%;

        @include lg-screen {
            width: 100px;
        }
    }

    &__title {
        display: none;
        
        @include lg-screen {
            font-size: 3rem;
            display: block;
            color: white;
            font-family: 'Indie Flower', cursive;
        }
    }

    &__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5 * vars.$gutter;

        @include lg-screen {
            flex-direction: row;
        }

        &__signin, &__signup {
            @extend %btn;
            background: white;
            color: vars.$color_main;
            padding: .5 * vars.$gutter;
        }
    }
}

.connection {
    p {
        line-height: 1.2;
    }
    
    flex: 1;

    @include lg-screen {
        width: 70%;
        margin: auto;
    }

    &__info {

        &__title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1 * vars.$gutter 0 2 * vars.$gutter;
            gap: 1 * vars.$gutter;

            
            h2 {
                position: absolute;
                top: 20%;
                left: 50%;
                width: 80%;
                z-index: 1;
                transform: translate(-50%, -50%);
                text-align: center;
                font-size: 1.6rem;
                color: vars.$color__white;
                text-shadow: 0 0 3px black;

                @include lg-screen {
                    position: static;
                    transform: translate(0);
                    color: black;
                    text-shadow: none;
                }
                
                strong {
                    font-family: 'Indie Flower', cursive;
                }
            }
            
            div {
                
                @include lg-screen {
                    max-width: 450px;
                }

                img {
                    width: 100%;
                    opacity: .6;
                }
            }

        }
        
        &__text {
            padding: 1 * vars.$gutter 0  2 * vars.$gutter;

            @include lg-screen {
                padding: 0;
            }

            p {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1rem;
            }
        }

        &__map {
            height: 250px;
            margin-bottom: 1 * vars.$gutter 0;
            background: grey;
        }
    }

    &__modal {
        background-color: rgba(200, 200, 200, .8);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        max-width: 600px;
        transform: translate(-50%, -50%);
        padding: 5 * vars.$gutter 3 * vars.$gutter;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        &__close {
            align-self: flex-end;
            cursor: pointer;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include lg-screen {
            width: 50%;
        }

        &__field {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            margin-bottom: 1rem;

            label {
                @extend %btn;
                cursor: initial;
                font-weight: normal;
            }

            input {
                width: 100%;
                border: none;
                padding: .3 * vars.$gutter;
            }
        }

        &__submit {
            @extend %btn;
        }
    }

    &__footer{
        display: flex;
        justify-content: center;
        padding: 1 * vars.$gutter 0 vars.$gutter;
        background: vars.$color_grey_connection_footer_bg;
    }
}
