@use '../../../styles/vars';

@mixin lg-screen {
  @media screen and (min-width:900px) {
      @content
  }
};

.profile-page {
  &__header {
    text-align: center;
    border-radius: 30px;
    padding: .5 * vars.$gutter;
    background: top / cover url('../../../assets/img/profile-simulation/wave.svg') no-repeat;

    @include lg-screen {
      width: 400px;
      background: none;
      border: none;
      border-radius: 0;
    }
    
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
      margin: 0 auto;

      @include lg-screen {
        background: vars.$color__white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }

    &__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
      margin-top: 0.5*vars.$gutter;
      font-size: 1.4*vars.$gutter;

      &__avatar-name {
        margin-bottom: 0.3*vars.$gutter;
        font-size: 1.8rem;
      }

      &__zipcode {
        font-size: vars.$gutter;
      }

      input {
        @extend %input;
        width: 60px;
        font-size: .8rem;
      }
    }

    &__avatar {
      width: 200px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: vars.$gutter;

      img {
        margin-top: 1.5rem;
        width: 100%;
        border-radius: 10px;

        @include lg-screen {
          box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
        }
      }
    }

    input[type="file"] {
      margin-left: -3rem;
    }
  }

  &__info-user {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: vars.$gutter;

    @include lg-screen {
      justify-content: space-around;
      margin-top: vars.$gutter;
    }

    &__submit button {
      @extend %strong-btn;
    }

    &__content {
      margin-top: vars.$gutter;
    }

    &__content-field {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      input {
        @extend %input;
      }
    }

    &__delete-account-btn {
      @extend %strong-btn;
      background: vars.$color_error;
    }
  }
}