@use '../../../styles/vars';

.user-form {

  &__form {
    & form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__input-infos {
      height: 72vh;

      &__identity {
        padding: 0 3*vars.$gutter;
        padding-bottom: vars.$gutter;
      }

      &__email, &__password, &__password--confirmation, &__name, &__first_name, &__picture, &__zipcode__input {
        display: flex;
        flex-direction: column;
        margin-top: vars.$gutter;

        & label {
          margin-bottom: 0.4*vars.$gutter;
        }
      }

      &__zipcode{

        & p {
          font-size: vars.$gutter;
          text-align: justify;
          margin-top: vars.$gutter;
        }
        &__input {
          padding: 0 3*vars.$gutter;
        }
      }
    }
  }
}

input {
  border: 0.1 *vars.$gutter solid vars.$color_border-input;
  border-radius: 1px;
  height: 1.3*vars.$gutter;
}