@use '../../../styles/vars';

.user-form {

  &__form {
    & form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__input-infos {
      height: 480px;

      &__identity {
        padding: 0 2*vars.$gutter;
        padding-bottom: vars.$gutter;
      }

      &__email, &__password, &__password--confirmation, &__name, &__first_name, &__picture, &__zipcode__input {
        display: flex;
        flex-direction: column;
        margin-top: vars.$gutter;

        & label {
          margin-bottom: 0.4*vars.$gutter;
          max-width: 400px;
          // text-align: center;
        }
      }

      &__zipcode{

        & p {
          font-size: vars.$gutter;
          text-align: justify; // center pour media queries
          margin-top: vars.$gutter;
        }
        &__input {
          padding: 0 2*vars.$gutter;
        }
      }
    }
  }

  & input {
    border: 0.1 *vars.$gutter solid vars.$color_border-input;
    border-radius: 2px;
    height: 2*vars.$gutter;
    box-sizing: content-box;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.user-form__form__input-infos__picture input {
  border: none;
}