@use '../../../styles/vars';

.navbar-disconnected {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 600px;

    a {
        @extend %btn;
        font-size: .9rem;
    }
}