@use '../../../styles/vars';

.navbar-disconnected {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    padding: .3rem 0;

    a {
        color: vars.$color_grey_writing;
        font-size: .8rem;

        &:hover {
            text-decoration: underline;
        }
    }
}