@use '../../styles/vars';
@use '../../styles/keyframes.scss';

@mixin lg-screen {
    @media screen and (min-width:700px) {
        @content
    }
};

.ride-details {
    padding: vars.$gutter;
    margin-bottom: 3rem;

    &__icon {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-right: 0.5rem;

        img {
            width: 100%;
        }
    }

    @include lg-screen {
        padding: 0;
    }

    img {
        width: 100%;
    }

    &__title {
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem;
    }

    &__leaflet {
        height: 200px;

        @include lg-screen {
            height: 400px;
        }

        &__map {
            height: 100%;
        }

        .leaflet-bottom  {
            z-index: 400 !important;
        }
    }

    &__map {
    h2 {
        margin: .5 * vars.$gutter 0;
        font-size: 1.3rem;
        font-weight: bold;
    }
}

    &__infos {
        display: flex;
        flex-direction: column;
        margin-bottom: vars.$gutter;
        gap: vars.$gutter;

        &__header {
            position: relative;
            
            h2 {
                margin-top: 5rem;
                text-align: center;
                font-size: 2.5*vars.$gutter;
                color: vars.$color_main;
                padding: vars.$gutter;
            }

            &__number {
                position: absolute;
                display: flex;
                flex-direction: column;
                margin: 1.2*vars.$gutter;
                top: 0;
                font-size: 1.1*vars.$gutter;
                background: rgba(167, 167, 167, .1);
                box-shadow: 0 0 3px rgba(0, 0, 0, .2);
                padding: .5 * vars.$gutter;
                margin: .5 * vars.$gutter;
                border-radius: 8px;
                transition: all .3s ease-in-out;
                color: vars.$color_grey_writing;

                span {
                    display: flex;
                    align-items: center;
                    img {
                        width: 40px;
                    }
                }
                button {
                    @extend %btn;
                    margin-left: .3rem;
                }
            }
        }

        &__description {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            font-size: 1.2rem;
            color: vars.$color_grey_writing;
            line-height: 1.5;
            padding: vars.$gutter 0;
            background-color: rgba(247, 180, 44, 0.2);
            padding: 3*vars.$gutter;
            border-radius: 8px;
            

            @include lg-screen {
                width: 70%;
                margin: auto;
            }
        }
    }

    &__container {
        display: flex;
        margin: vars.$gutter 0;
        justify-content: center;
    }

    &__current-user-link {
        box-shadow: 0 2px 5px black;
        max-width: 270px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        border-radius: 8px;
        transition: all .3s ease-in-out;
        color: vars.$color_grey_writing;
        background: linear-gradient(315deg, #fc575e 0%, #f7b42c 74%);
        display: flex;
        align-items: stretch;
        
        &:hover {
            box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .4);
            transition: all .3s ease-in-out;
        }

        @include lg-screen {
            width: 270px;
            height: 400px;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
        
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__current-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, .5);
        width: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin: 0.5rem;
        padding: 0.5rem 0;
        border-radius: 8px;
        &::-webkit-scrollbar {
            display: none;
          }

        &__kick-btn {
            @extend %remove-cta-absolute;
        }

        &__star {
            display: inline-block;
            width: 1rem;

            img {
                width: 100% !important;
            }
        }

        &__avatar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            font-size: 1rem;

            &-name {
                display: flex;
                align-items: center;
                gap: .3rem;
            }

            img {
                width: 80px;
                border-radius: 50%;
                margin-bottom: .2rem;
            }
        }

        &__dogs-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0.5*vars.$gutter 0;

            @include lg-screen{
                -ms-overflow-style: none;
                scrollbar-width: none;
                max-width: none;
            
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        &__current-dog {
            display: flex;
            flex-direction: column;
            gap: .5 * vars.$gutter;
            width: 120px;

            .dog-avatar {
                display: flex;
                flex-direction: column;
                align-items: center;

                &__photo {
                    border-radius: 50%;
                    width: 110px;
                }

                
                span {
                    width: 120px;
                    text-align: center;
                    overflow: hidden;
                }
            }
            
            .dog-details {
                &__behavior {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    &__logo {
                        width: 20px;
                    }
                }
            }
        }
    }

    &__current-user-container {
        position: relative;
        transition: all .3s ease-in-out;

        &:hover {
            transform: translate(0, -3px);
            transition: all .3s ease-in-out;
        }
    }

    &__users {
        &__registered {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;

            @include lg-screen {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &__creator {
            width: 20%;

            &__avatar {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .3rem;
                text-align: center;
            }

            img {
                border-radius: 50%;
                width: 65px;
            }
        }
    }

    &__toggle {
        position: fixed;
        z-index: 999;
        bottom: 4rem;
        right: .5 * vars.$gutter;
        width: 50px;
        height: 50px;
        @extend %linear-gradient;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        animation: chat-bubble 15s infinite;
        color: white;
        transition: all .5s ease;

        button {
            img {
                width: 75%;
            }
        }

        &.chat-open {
            bottom: 90%;
            transition: all .5s ease;
            font-size: 1.5rem;
        }
    }

    &__chat {
        position: fixed;
        top: 5%;
        bottom: 57px;
        right: vars.$gutter;
        width: calc(100% - 2 * vars.$gutter);
        border-top: 1px solid vars.$color_main;
        background: white;
        animation: slide-in .2s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 998;

        @include lg-screen {
            max-width: 600px;
            border: 1px solid vars.$color_main;
            right: 3 * vars.$gutter;
        }
        
        &__messages-container {
            padding-top: vars.$gutter;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5 * vars.$gutter;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
                display: none;
            }
    
            .my-message {
                align-self: flex-end;
            }
    
            &__message {
                max-width: 70%;
                padding: .8 * vars.$gutter ;
                background: vars.$color-border-input;
                border-radius: 8px;
    
                p {
                    color: vars.$color_main;
                    span {
                        color: vars.$color_main;
                    }
                }
                span {
                    color: white;
                }
            }
        }
    
    
    
        &__new-message {
            margin: vars.$gutter 0;
            display: flex;
            justify-content: space-between;
            gap: vars.$gutter;
    
            input {
                padding: .8rem .5rem;
                flex: 1;
                align-self: stretch;
                border: 1px solid vars.$color_main;
                border-radius: 5px;
            }
    
            button {
                @extend %strong-btn;
            }
        }
    }

    &__message {
        &__avatar {
            display: flex;
            gap: vars.$gutter;
        }

        &__pic {
            width: 60px;

            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        &__sent-info {
            display: flex;
            flex-direction: column;
        }

        &__sent-date {
            font-size: .7rem;
        }
    }

    &__modal {
        @extend %modal;

        @include lg-screen {
            animation: fade-in-modal .3s forwards;
        }

        &__bold {
            font-size: 1.6rem;
            font-weight: bold;
        }

        &__btn-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: vars.$gutter;
                    margin-top: 0.5*vars.$gutter;
        
                    @include lg-screen {
                        flex-direction: row;
                    }
        }

        &__delete-btn {
            @extend %light-btn;
        }

        &__back-btn {
            color: vars.$color__white;
            font-weight: bold;
            cursor: pointer;
            padding: .3rem 1rem;
        }

        &__close {
           @extend %modal-close-btn;
        }
        
        &-wrapper {
            @extend %modal-wrapper;
        }
    }

    &__registration {
        text-align: center;

        button {
            @extend %btn;
            margin: .5rem 0;
            font-size: 1.5* vars.$gutter;
            background-color: vars.$color-main;
            color: white;
        }
    }

    &__ride-not-found {
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
        @extend %title-background;
    }
}
