@use '../../styles/vars';
@use '../../styles/keyframes.scss';

@mixin lg-screen {
    @media screen and (min-width:700px) {
        @content
    }
};

.ride-details {
    padding: vars.$gutter;
    margin-bottom: 3rem;

    &__icon {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-right: 0.5rem;

        img {
            width: 100%;
        }
    }

    @include lg-screen {
        padding: 0;
    }

    img {
        width: 100%;
    }

    &__title {
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem;
    }


    &__toggle {
        position: fixed;
        z-index: 999;
        bottom: 4rem;
        right: .5 * vars.$gutter;
        width: 50px;
        height: 50px;
        @extend %linear-gradient;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        animation: chat-bubble 15s infinite;
        color: vars.$color__white;
        transition: all .5s ease;

        button {
            img {
                width: 75%;
            }
        }

        &.chat-open {
            bottom: 90%;
            transition: all .5s ease;
            font-size: 1.5rem;
        }
    }

    &__modal {
        @extend %modal;

        @include lg-screen {
            animation: fade-in-modal .3s forwards;
        }

        &__bold {
            font-size: 1.6rem;
            font-weight: bold;
        }

        &__btn-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: vars.$gutter;
                    margin-top: 0.5*vars.$gutter;
        
                    @include lg-screen {
                        flex-direction: row;
                    }
        }

        &__delete-btn {
            @extend %light-btn;
        }

        &__back-btn {
            color: vars.$color__white;
            font-weight: bold;
            cursor: pointer;
            padding: .3rem 1rem;
        }

        &__close {
           @extend %modal-close-btn;
        }
        
        &-wrapper {
            @extend %modal-wrapper;
        }
    }

    &__registration {
        text-align: center;

        button {
            @extend %strong-btn;
            margin: .5rem 0;
            font-size: 1.5* vars.$gutter;
            background-color: vars.$color-main;
            color: vars.$color__white;
        }
    }

    &__ride-not-found {
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
        @extend %title-background;
    }
}
