// logo is position absolute if on mobile, but not when on desktop  
// body display flex with header that is going to be at the bottom on mobile, at the top on desktop

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-connected {
        font-size: .8rem;
    }
}

