$color_main: #F85F6A;
$color-border-bottom-header: #707070;
$color-border-input: #D5D5D5;
$color__white: #fff;
$color_valid: #4EC133;

$gutter: 1rem;

%btn {
    background: $color_main;
    padding: .2rem .5rem;
    border-radius: 5px;
    color: $color__white;
    font-weight: bold;
    cursor: pointer;
}