$color_main: #fc575e;
$color-border-bottom-header: #707070;
$color-border-input: #D5D5D5;
$color__white: #fff;
$color_valid: #4EC133;
$color_error: #cc0000;
$color_grey_connection_footer_bg: #434848;
$color_yellow: #f7b42c;
$color_grey_writing: rgb(100, 100, 100);

$gutter: 1rem;

%btn {
    background-color: $color__white;
    padding: .3rem 1rem;
    border-radius: 20px;
    color: $color_main;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-align: center;

    &:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transform: translate(0, -2px);
        transition: all .2s ease-in-out;
    }
}

%strong-btn {
    @extend %btn;
    @extend %linear-gradient;
    border: none;
    color: $color__white;
}

%light-btn {
    @extend %btn;
    border: 1px solid $color_main;
}

%remove-cta-absolute {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: $color_error;
    color: $color__white;
    font-size: .9rem;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
        transform: translate(-50%, -50%) scale(1.2);
        transition: all .2s ease;
    }
}

%linear-gradient {
    background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

%title-background {
    @extend %linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

%input {
    border-radius: 5px;
    padding: 0 .3rem;
    border: 1px solid $color_grey_writing;

    &:focus {
      box-shadow: 0 3px 5px $color-border-input;
    }
}

%modal {
    background: linear-gradient(315deg, rgba(252, 87, 94, 0.8), rgb(247, 180, 44, 0.9) 74%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 400px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    z-index: 9999;
    font-size: 1.3rem;
    color: $color__white;
    text-align: center;
    animation: fade-in-modal .3s ease-in forwards;
    padding: $gutter;
}

%modal-close-btn {
    align-self: flex-end;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color__white;
    transition: all .1s ease;

    &:hover {
        border-radius: 50%;
        transform: scale(1.3);
        transition: all .1s ease;
    }
}

%modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
}