@use './vars';

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  89% { transform: translate(0, 0) rotate(0deg); }
  90% { transform: translate(2px, 1px) rotate(0deg); }
  91% { transform: translate(-1px, -2px) rotate(-1deg); }
  92% { transform: translate(-3px, 0px) rotate(1deg); }
  93% { transform: translate(0px, 2px) rotate(0deg); }
  94% { transform: translate(1px, -1px) rotate(1deg); }
  95% { transform: translate(-1px, 2px) rotate(-1deg); }
  96% { transform: translate(-3px, 1px) rotate(0deg); }
  97% { transform: translate(2px, 1px) rotate(-1deg); }
  98% { transform: translate(-1px, -1px) rotate(1deg); }
  99% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes navbar-btn {
  from {
    transform: scale(1.1, 3);
    border-top: 1px solid vars.$color__white;
    border-bottom: 1px solid vars.$color__white;
    opacity: .5;
  }
  to {
      transform: scale(1.1, 1.5);
      border-top: 1px solid vars.$color__white;
      border-bottom: 1px solid vars.$color__white;
      opacity: 1;
  }
}

@keyframes slide-in {
  from {
      margin-right: -100%;
  }
  to {
      margin-right: 0;
  }
}

@keyframes fade-in {
    from {
        transform: translate(0, -100%);
    }
    to {
        transform: translate(0);
    }
}

@keyframes fade-in-modal {
    from {
        transform: translate(-50%, 100%) scale(.7);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes fade-in-from-left {
    from {
        transform: translate(-20%, 0);
        opacity: 0;
    }
    50% {
        transform: translate(-20%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes fade-in-from-right {
    from {
        transform: translate(20%, 0);
        opacity: 0;
    }
    50% {
        transform: translate(20%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes appear {
  from {
      max-height: 0px;
  }
  99% {
      max-height: 650px;
  }
  to {
      max-height: none;
  }
}

@keyframes chat-bubble {
    from {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(.9);
    }
    30% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(.9);
    }
    70% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(.9);
    }
    90% {
        transform: scale(1.1);
    }
    95% {
        transform: scale(1.05);
        transform: rotateY(180deg)
    }
    to {
        transform: scale(1);
        transform: rotateY(360deg);
    }
}