@use '../../styles/vars';

.hidden {
    display: none;
}

.signup-main {
    padding: vars.$gutter;
    // @extend %linear-gradient;

    & h1 {
        text-align: center;
        font-size: 2*vars.$gutter;
        margin: vars.$gutter 0;
        font-weight: bold;
        @extend %title-background;
    }
}

// Common CSS of signup's children components

.signup {

    & h2 {
        text-align: center;
        font-size: 1.5*vars.$gutter;
        font-weight: bold;
        margin: auto;
        margin-top : 2*vars.$gutter;
        padding-bottom : vars.$gutter;
        // box-shadow: 0 0 20px vars.$color-border-input;
        border-bottom: 1px solid vars.$color-main;
        @extend %title-background;
        max-width: 400px;
    }

    &__back-submit {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding: 0 2* vars.$gutter;

        &__submit, &__back {
            text-align: center;
            line-height: 1.4;
            text-transform: uppercase;
            width: 50%;
            max-width: 200px;
            border-radius: 4px;
        }

        &__submit {
            @extend %btn;
            margin-left: 0.5*vars.$gutter;
            @extend %linear-gradient;
            color: white;
        }
    
        &__back {
            @extend %btn;
            background: none;
            border: 1px solid vars.$color_main;
            color: vars.$color_main;
        }
    }
    // component userForm and dogForm
    &__errorMessageDataBase {
        color: vars.$color_error
        // background-color: vars.$color_error;
        // padding: vars.$gutter 0;
        // max-width: 400px;
    }
}