@use '../../../styles/vars';

.ride-informations {
    width: 80vw;
    max-width: 300px;
    
    .leaflet-popup-content-wrapper {
        padding: 0 !important;
        
        .leaflet-popup-content{
            width: 100% !important;
            margin: 0 !important;
            background: linear-gradient(315deg, #fc575e 0%, #f7b42c 74%) !important;
        }
    }

    .leaflet-popup-close-button {
        color: vars.$color__white !important;
    }

    &__all {
        font-family: 'Lato', sans-serif;
        font-size: .9rem;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: vars.$color__white;
        padding-top: 0.5*vars.$gutter;

        img {
            width: 20%;
            margin-right: 0.5*vars.$gutter;
        }
    }
}