@use '../../styles/vars';

@mixin sm-screen {
    @media screen and (min-width:360px) {
        @content
    }
};

@mixin lg-screen {
    @media screen and (min-width:900px) {
        @content
    }
};

@mixin xl-screen {
    @media screen and (min-width:1150px) {
        @content
    }
};

.dashboard {
    margin-bottom: 4 * vars.$gutter;
    min-height: 100vh;

    @include lg-screen {
        min-height: auto;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 2rem;

        &__btn {
            @extend %btn;
            @extend %linear-gradient;
            border: none;
            color: vars.$color__white;
            padding: .6rem 1rem;
        }
    }

    &__linebreak {
        width: calc(0.95 * 90%);
        max-width: 380px;
        margin: 0 auto;
        height: 1px;
        background: vars.$color_main;

        @include lg-screen {
            display: none;
        }
    }

    &__hostedrides, &__nothostedrides {
        padding: vars.$gutter;
        border-radius: 10px;
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        border: 1px solid vars.$color-border-input;

        @include sm-screen{
            padding: 2 * vars.$gutter;
        }

        @include lg-screen {
            background-color: rgba(247, 180, 44, 0.2);
            padding: vars.$gutter;
            width: 48%;
            max-width: 600px;
        }

        @include xl-screen{
            padding: 2 * vars.$gutter;
        }

        &__block {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        &__title {
            font-size: 1.3rem;
            margin-bottom: 2rem;
            @extend %title-background;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: stretch;
            line-height: 1.5rem;
            gap: .5rem;

            @include lg-screen {
                flex-direction: row;
            }
        }

        &__name {
            font-size: 1.2rem;
        }

        &__link-container {
            display: flex;
            gap: 1rem;

            @include lg-screen {
                flex-direction: column;
            }
        }

        &__link {
            @extend %btn;
            font-size: .8rem;
        }
    }
    
    &__rides {
        max-width: 550px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include lg-screen {
            min-width: 915px;
            max-width: 1385px;
            display: flex;
            flex-direction: row;
            width: 90%;
            align-items: stretch;
            justify-content: space-between;
        }
    }

    .link-details {
        @extend %strong-btn;
        width: 95px;
    }
    .link-delete {
        @extend %light-btn;
        width: 95px;
    }

    &__modal {
        @extend %modal;
        padding: 0;

        &__close {
            @extend %modal-close-btn;
            margin: .5rem .5rem 0 0;
        }

        &__bold {
            font-size: 1.6rem;
            font-weight: bold;
        }

        &__delete {
            @extend %light-btn;
            margin-bottom: 2rem;
        }

        &-wrapper {
            @extend %modal-wrapper;
        }
    }
}

