@use '../../styles/vars';

@mixin lg-screen {
    @media screen and (min-width:700px) {
        @content
    }
};

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.dashboard-page {
    margin-bottom: 4 * vars.$gutter;
    position: relative;

    &__header {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 10px  vars.$color-border-input ;
    border-radius: 30px;
    padding: .5 * vars.$gutter;
    font-size: 1.5rem;
    text-align: center;

    }

    .dashboard-avatar {
     
        
        
        

        img {
            width: 100%;
            border-radius: 50%;
          }
    }

    .create-ride__btn {
        background-color: #F85F6A;
        cursor: pointer;
        border: none;
        color:white;
        border-radius:12px;
        padding:15px 25px;
        display:flex;
        flex-direction: column;
        width: 10%;
        margin-left: 63rem;
    }

    

    .dashboard-info__host {
        width: 100%;
        font-size: 1.5rem;
        margin-top: 120px;
    }

    .dashboard-info__participant {
        width: 100%;
        font-size: 1.5rem;
        margin-top: 80px;

    }

    .dashboard-title {
        font-size: 1.8rem;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .ride-nav {
        background-color: #F85F6A;
        cursor: pointer;
        border: none;
        color:white;
        border-radius:12px;
        padding:15px 25px;
        width: 10%;
        margin-left: 85rem;

        }

    .delete-btn {
        background-color: #F85F6A;
        cursor: pointer;
        border: none;
        color:white;
        border-radius:12px;
        padding:15px 25px;
        width: 10%;
        margin-left: 3rem;
       
    }

    .remove-btn {
        background-color: #F85F6A;
        cursor: pointer;
        border: none;
        color:white;
        border-radius:12px;
        padding:15px 25px;
        width: 10%;
        margin-left: 3rem;

    }

}
